// Base styles
html {
    font-size: 16px;
}

h1 {
    background-color: #189A46;
    font-family: 'Tahoma', sans-serif;
    font-size: 2rem;
}

body {
    background-color: #AF9023;
    width: 540px;
    margin: 0 auto;
}

p {
    font-size: 1rem;
    margin-bottom: 30px;
}